<!DOCTYPE html>
<html>
<head>
    <title>DailyDose</title>
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300|Vollkorn:400,700' rel='stylesheet' type='text/css'>
    <style>
        body {
            background-color: #FCFCFC;
        }

        .body {
            max-width: 800px;
            margin: 20px auto;
            background-color: #FFF;
            text-align: center;
            border: 1px solid #DDD;
            -webkit-box-shadow: 6px 6px 1px 0px rgba(187, 187, 187, 1);
            -moz-box-shadow: 6px 6px 1px 0px rgba(187, 187, 187, 1);
            box-shadow: 6px 6px 1px 0px rgba(187, 187, 187, 1);
            padding-bottom: 50px;
        }

        h1 {
            font: 100 92px/1 'lato';
            margin-bottom: 0px;
        }

        h3 {
            margin-bottom: 60px;
            text-align: right;
            margin-right: 20%;
            margin-top: 0px;
        }

        h3 a {
            font: 400 20px/1 'vollkorn';
            text-decoration: none;
            color: #000;
            -webkit-transition: color 100ms linear;
            -moz-transition: color 100ms linear;
            -o-transition: color 100ms linear;
            transition: color 100ms linear;
        }

        h3 a:visited {
            color: #000;
        }

        h3 a:hover {
            color: #555;
        }

        img {
            max-width: 80%;
            max-height: 500px;
            border: 1px solid #DDD;
        }

        h2 {
            font: 700 18px/1 'vollkorn';
            margin-bottom: 10px;
            width: 80%;
            margin-left: auto;
            margin-right: auto;
        }

        h2 a {
            text-decoration: none;
            color: #000;
            -webkit-transition: color 100ms linear;
            -moz-transition: color 100ms linear;
            -o-transition: color 100ms linear;
            transition: color 100ms linear;
        }

        h2 a:visited {
            color: #000;
        }

        h2 a:hover {
            color: #555;
        }

        blockquote {
            font-weight: 300;
            font-family: 'lato';
            background: #f3f3f3;
            border-left: 3px solid #ccc;
            text-align: left;
            width: 80%;
            margin-left: auto;
            margin-right: auto;
            padding: 1.2em 10px;
            quotes: "\201C" "\201D" "\2018" "\2019";
        }

        blockquote:before {
            color: #ccc;
            content: open-quote;
            font-size: 4em;
            line-height: 0.1em;
            margin-right: 0.25em;
            vertical-align: -0.4em;
        }

        blockquote p {
            display: inline;
        }

        .spacer {
            width: 50%;
            height: 0px;
            border-bottom: 1px solid #AAA;
            margin: 60px auto;
        }

        .imprint {
            font-weight: 300;
            font-family: lato;
            font-size: 13px;
            color: #777777;
            text-transform: uppercase;
            margin-top: 60px;
        }

        .imprint a {
            text-decoration: none;
            color: #777;
            -webkit-transition: color 100ms linear;
            -moz-transition: color 100ms linear;
            -o-transition: color 100ms linear;
            transition: color 100ms linear;
        }

        .imprint a:visited {
            color: #777;
        }

        .imprint a:hover {
            color: #000;
        }
    </style>
</head>
<body>
<div class="body">
    <h1>DailyDose</h1>

    <h3><a href="https://reddit.com/r/getmotivated">for Reddit</a></h3>

    <h2><a href="">Made a wallpaper for my computer remind me to get back to drawing.</a></h2>
    <img src="http://i.imgur.com/WgYGR1z.jpg"/>

    <div class="spacer"></div>
    <h2><a href="">The weak give up. The strong GET UP.</a></h2>
    <blockquote>Thought of this quote whilst sitting on the toilet after a particularly tough leg day, legs were like
        jelly and felt like sitting there and accepting my fate until this quote hit me in the face. Obviously you can
        apply it to anything.
    </blockquote>
    <div class="imprint">© 2015 by <a href="https://timostaudinger.com">Timo M. Staudinger</a> | <a
            href="">Unsubscribe</a> | <a href="https://github.com/TimoSta/daily-dose">Fork me on GitHub</a>
    </div>
</div>
</body>
</html>